body{
    margin: 0;
    padding: 0;
}

/* TITLE */
.score{
  color: blue;  
}

/* MAIN */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#pacman{
    height: 440px;
    width: 380px;
    border: 5px solid black;
}
#pacman div div{
    width: 20px;
    height: 20px;
    /* display: flex;
    flex-wrap: wrap; */
}
.row{
    display: flex;
}

/* SQUARES */
.wall{
    background-color: blue;
}
.pac-dot{
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
}
.power-pellet{
    background-color: green;
    border: 2px solid black;
    box-sizing: border-box;
}
.pacman{
    background-color: yellow;
    border-radius: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

/* Ghost */
.ghost{
    box-sizing: border-box;
    border: 2px solid black;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.pink{
    background-color: pink;
}
.ghostScared{
    background-color: lightblue;
}
